@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-header {
  transition: 1000ms;

  &.fixed {
    position: fixed;
    width: 100%;
    top: -999px;
    z-index: 10;
  }

  &.to-bottom {
    top: 0;
  }
}

.container {
  width: 95%;
  max-width: 1120px;
  margin: 0 auto;
}

.dark-purple {
  background-color: #1C1831;
}

.soft-purple {
  background-color: #211B35;
}

.portfolio-item:hover {

  .backdrop {
    background-color: #000;
    opacity: 0.5;
    transition: 300ms;
  }

  .text-view-detail {
    opacity: 1;
    transition: 300ms;
  }
}

.slider {
  .slider-list {
    width: 100% !important;
    height: 100% !important;

    .slider-slide {
      width: 100% !important;
      height: 100% !important;
    }
  }
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}